name: Lint

on:
  pull_request:
    branches:
      - main

jobs:
  golang:
    name: Golang
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.1'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.61

  container:
    name: Containerfile
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Containerfile
